html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
nav {
    width: 100%;
    height: 50px;
    background-color: #ea2;
}
nav:nth-child(1) {
    padding-left: 25px;
}
.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 10px;
    color: white;
    font-size: 1.3em;
    float: left;
}
.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #ea2;
}
.navlink a:hover {
    color: #e72;
}
.animeForm {
    border: 1px solid #e72;
    height: 150px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #ea2;
}
.makeAnimeSubmit {
    text-align: center;
    transition: background-color 0.4s ease;
    display: inline;
    width: 70px;
    background-color: #ea2;
    border-radius: 1px;
    color: black;
}
.makeAnimeSubmit:link, .makeAnimeSubmit:visited, .makeAnimeSubmit:hover, .makeAnimeSubmit:active {
    color: white;
}
.makeAnimeSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #e72;
}
.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}
.mainForm h3 {
    text-align: center;
}
.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #ea2;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}
.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}
.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #e72;
}
#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}
#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #ea2;
}
.hidden {
    display: none;
}
#animeMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}
#animeMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}
#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}
#anime {
    z-index: 225;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}
#animes {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
}
#animeContent, #content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.anime {
    width: 95%;
    margin: 0 auto;
    margin: 1px;
    background-color: #ea2;
    padding: 5px;
    min-height: 50px;
    overflow: hidden;
    text-align: center;
}
h3.emptyAnime {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}
h3.animeInfo {
    width: 600px;
    top: 50%;
    left: 50%;
    font-size: 1.2em;
    color:white;
}